@import "scss/font.scss";
@import "scss/variable.scss";
@import "scss/mixin.scss";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-width: 320px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Гриды
//// //// //// //// //// //// //// ////
.grid-wrap {
	display: grid;
	grid-template-columns: var(--grid_col);
	grid-column-gap: var(--grid_col_gap);
	justify-content: center;
}

.grid-wrap_pading {
	padding: 60px 0;
}

// Кнопки
//// //// //// //// //// //// //// ////
.button {
	@include text_body;
	padding: 10px 20px 11px;
	background-color: var(--color_m1_rest);
	border-radius: 2px;
	border: none;
	@include hover-transition;

	&:hover {
		background-color: var(--color_m1_hover);
		cursor: pointer;
	}
}

.linc-arrow {
	display: inline-flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.004em;
	text-decoration: none;

	&:hover {
		background-color: var(--color_m1_hover);
		cursor: pointer;
	}
}

.linc-arrow_right-right {
	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		margin-left: 3px;
		mask: url("svg/sprite_icons_css.svg#small-arrow") no-repeat;
		transform: rotate(-90deg);
		background-color: var(--color_tm);
	}
}

// Разное
//// //// //// //// //// //// //// ////
.prise-blick {
	display: block;
	padding: 4px 10px;
	background-color: var(--color_w);
}

.prise-blick__item_name {
	font-weight: 500;
	font-size: 20px;
}

// Текст
//// //// //// //// //// //// //// ////
body {
	@include text_body;
	color: var(--color_tm);
}

h1,
.mimicry_h1 {
	@include text_h1;
	margin-top: 0;
	margin-bottom: 10px;
}

h2,
.mimicry_h2 {
	@include text_h2;
	margin-top: 0;
	margin-bottom: 10px;
}

h3,
.mimicry_h3 {
	@include text_h3;
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.p14 {
	font-size: var(--p14_font_size);
}

a,
.mimicry_a {
	color: var(--color_tm);
	@include hover-transition;

	&:hover {
		background-color: var(--color_m1_hover);
	}
}

.font-numerators {
	font-feature-settings: "numr" 1;
}

.text-color_b2 {
	color: var(--color_b2);
}

.text-align_center {
	text-align: center;
}

// Главное меню
//// //// //// //// //// //// //// ////
.main-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-block {
	width: var(--content_width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.logo {
	width: 135px;
	height: 50px;
	background: url("svg/sprite_icons_css.svg#logo2") no-repeat;
	display: block;
	@include a_hover-none;
}

.address__link {
	font-style: normal;
	text-decoration: none;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	@include a_hover-none;

	& > * {
		@include hover-transition;
	}

	&:hover > * {
		background-color: var(--color_m1_hover);
	}
}

.address__icon {
	&::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url("svg/sprite_icons_css.svg#location") no-repeat;
		margin-right: 5px;
		margin-bottom: -3px;
	}
}

.pone {
	display: flex;
	align-items: center;
	> * {
		&:nth-child(n) {
			margin-right: 10px;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.pone__linc {
	font-size: 22px;
	text-decoration: none;
	line-height: 26px;
}

.pone__linc-color-w {
	color: var(--color_w);

	&:hover {
		color: var(--color_tm);
	}
}

.pone__icon {
	display: inline-block;
	width: 26px;
	height: 26px;

	@include a_hover-none;
}

.pone__icon_skype {
	background: url("svg/sprite_icons_css.svg#logos-skype") no-repeat;
}

.pone__icon_telegram {
	background: url("svg/sprite_icons_css.svg#logos-telegram") no-repeat;
}

.pone__icon_whatsapp {
	background: url("svg/sprite_icons_css.svg#logos-whatsapp") no-repeat;
	width: 27px;
}

.nav-secondary {
	width: 100%;
	background-color: var(--color_05);
	display: flex;
	justify-content: center;
}

.nav-secondary__wrap {
	width: var(--content_width);
}

.nav-secondary__item {
	margin-right: 50px;
	display: inline-block;
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}

.nav-secondary__link {
	display: inline-block;
	padding: 5px 0 4px;
	text-decoration: none;
	font-size: var(--p14_font_size);
	color: var(--color_b2);
	position: relative;
	@include hover-transition;

	&:hover {
		background-color: var(--color_10);
		color: var(--color_tm);
	}
}

.nav-secondary__item_dropdown {
	&:focus-within .dropdown-list {
		visibility: visible;
		opacity: 1;
	}
}

.nav-secondary__link_dropdown {
	&:hover::after {
		background-color: var(--color_tm);
	}

	&::after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		mask: url("svg/sprite_icons_css.svg#small-arrow") no-repeat;
		background-color: var(--color_b2);
		margin-left: 5px;
		@include hover-transition;
	}
}

.dropdown-list {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: -10px;
	top: 100%;
	background-color: var(--color_w);
	border: 1px solid #ccc;
	transition: opacity 150ms ease-in-out 0ms, visibility 0ms ease-in-out 150ms;
}

.dropdown-list__item {
	white-space: nowrap;

	&:hover {
		background-color: var(--color_10);
	}
}

.dropdown-list__link {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	@include a_hover-none;
	font-size: var(--p14_font_size);
	text-decoration: none;
}

.nav-main {
	width: 100%;
	background-color: var(--color_m1_rest);
	display: flex;
	justify-content: center;
}

.nav-main__wrap {
	width: var(--content_width);
	display: flex;
	justify-content: space-between;
}

.nav-main__item {
	display: inline-block;
	margin-right: 70px;

	&:last-child {
		margin-right: 0;
	}
}

.nav-main__linc {
	display: inline-block;
	text-decoration: none;
	padding: 13px 0;

	&:hover {
		background-color: var(--color_m1_hover);
	}
}

.nav-main__linc_icon {
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url("svg/sprite_icons_css.svg#calc2") no-repeat;
		margin-right: 9px;
	}
}

// Качественный ремонт без забот
//// //// //// //// //// //// //// ////
.slider-block__headline-h1 {
	grid-column: 1 / span 12;
	margin-bottom: 40px;
}

.slider-block__text-wrap {
	position: relative;
	grid-column: 1 / span 3;
	align-self: start;
	z-index: 2;
}

.slider-block__text-block {
	width: 380px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 30px 30px 30px 0;
	background-color: var(--color_w);
}

.head-slider {
	grid-column: 4 / span 9;
	position: relative;
}

.head-slider__swiper-container {
	height: 500px;
	width: 100%;
}

.swiper-slide__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide_position {
	position: relative;
}

.swiper-slide__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 76px;
}

.head-slider__button {
	width: 56px;
	height: 56px;
	background-color: var(--color_w);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include hover-transition;

	&:hover {
		background-color: var(--color_m1_hover);
	}

	&::before {
		content: "";
		width: 38px;
		height: 34px;
		display: block;
		background: url("svg/sprite_icons_css.svg#large-arrow") no-repeat;
	}
}

.head-slider__button_next {
	position: absolute;
	bottom: 10px;
	left: 10px;

	&::before {
		transform: rotate(180deg);
	}
}

.head-slider__button_prev {
	position: absolute;
	bottom: 10px;
	right: calc(100% + 10px);
}

// Чем мы отличаемся от 90% ремонтных компаний
//// //// //// //// //// //// //// ////
.icons-block {
	background-color: var(--color_03);
	grid-row-gap: 70px;
}

.icons-block__headline-h2 {
	grid-column: 1 / span 12;
	margin: 0 0 -10px;
}

.icons-block__icon-items {
	grid-column-end: span 3;
}

.icon-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-items__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50px;
	height: 50px;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 44px;
		height: 44px;
		border-radius: 100px;
		background-color: var(--color_m1_rest);
		z-index: 1;
	}
}

.icon-items__svg {
	width: 50px;
	height: 50px;
	fill: var(--color_tm);
	z-index: 2;
}

.icon-items__description {
	text-align: center;
}

// Виды ремонта квартир
//// //// //// //// //// //// //// ////
.types-repair {
	grid-row-gap: 30px;
}

.types-repair__headline-h2 {
	grid-column: 1 / span 12;
}

.types-repair__card-item {
	grid-column-end: span 3;
}

.card-item {
	&:hover .card-item__prise-blick,
	&:hover .card-item__linc-detail {
		background-color: var(--color_m1_hover);
	}
	&:hover .card-item__description {
		color: var(--color_tm);
	}
}

.card-item__prise-blick,
.card-item__description {
	@include hover-transition;
}

.card-item__img-wrap {
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-item__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card-item__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.card-item__description {
	color: var(--color_b2);
}

// Нужна консультация специалиста?
//// //// //// //// //// //// //// ////
.consultation {
	background-color: var(--color_b2);
	color: var(--color_w);
}

.consultation__headline-h2,
.consultation__tex-block,
.consultation__wrap {
	grid-column: 1 / span 12;
}

.consultation__tex-block {
	margin: 0 0 40px;
}

.consultation__wrap {
	justify-self: center;
	display: flex;
	justify-content: center;

	> * {
		margin-right: 40px;
	}

	> *:last-child {
		margin-right: 0;
	}
}

// Этапы ремонта квартиры в новостройке
//// //// //// //// //// //// //// ////
.numbered-icons-block {
	grid-row-gap: 70px;
}

.numbered-icons-block__headline-h2 {
	grid-column: 1 / span 12;
	margin-bottom: -20px;
}

.numbered-icons-item {
	grid-column-end: span 6;
	justify-self: center;
	width: 450px;

	&:last-of-type:nth-of-type(odd) {
		grid-column-end: span 12;
	}
}

.numbered-icons-item__wrap {
	display: flex;
	align-items: center;
}

.numbered-icons-item__number {
	width: 25px;
	font-size: 70px;
	line-height: 1;
	color: var(--color_m1_rest);
}

.numbered-icons-item__icons {
	display: block;
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	fill: var(--color_tm);
}

.numbered-icons-item__headline {
	margin-bottom: 0;
}

// Наши работы
//// //// //// //// //// //// //// ////
.finished-work {
	background-color: var(--color_03);
	grid-row-gap: 30px;
}

.finished-work__headline-h2 {
	grid-column: 1 / span 12;
}

.gallery-works-item {
	display: block;
	position: relative;
	height: 300px;

	&:hover > .prise-blick {
		background-color: var(--color_m1_hover);
	}

	&:hover > .prise-blick .text-color_b2 {
		color: var(--color_tm);
	}

	&:nth-of-type(4n),
	&:nth-of-type(4n + 1) {
		grid-column-end: span 5;
	}

	&:nth-of-type(4n + 2),
	&:nth-of-type(4n + 3) {
		grid-column-end: span 7;
	}

	&:last-of-type:nth-of-type(odd) {
		grid-column-end: span 12;
	}
}

.gallery-works-item__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.gallery-works-item__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	@include hover-transition;
}

.gallery-works-item__button {
	grid-column: 1 / span 12;
	justify-self: center;
	margin-top: 10px;
}

// grid-column: 1 / span 3;
// 	background: url("svg/sprite_icons_css.svg#logo2") no-repeat;
// 	transform: scale(5) translate(40%, 40%);
