@import "scss/font.scss";
@import "scss/variable.scss";
@import "scss/mixin.scss";
@import "scss/hamburgers.scss";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-width: 320px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Гриды
//// //// //// //// //// //// //// ////
.grid-wrap {
	display: grid;
	grid-template-columns: repeat(var(--max_number_col), var(--grid_col));
	grid-column-gap: var(--grid_col_gap);
	justify-content: center;
}

.grid-wrap_pading {
	padding-top: 60px;
	padding-bottom: 60px;
}

@media screen and (max-width: 840px) {
	.grid-wrap_pading {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 540px) {
	.grid-wrap {
		grid-template-columns: repeat(var(--max_number_col), auto);
		padding-left: 15px;
		padding-right: 15px;
	}
}

// Кнопки
//// //// //// //// //// //// //// ////
.button {
	@include text_body;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 20px 1px;
	background-color: var(--color_m1_rest);
	border: 1px solid var(--color_m1_rest);
	border-radius: 2px;
	@include hover-transition((color, background-color, border-color));

	&:hover {
		background-color: var(--color_m1_hover);
		border-color: var(--color_m1_hover);
		cursor: pointer;
	}
}

.button_ghost {
	border: 1px solid var(--color_tm);
	background-color: var(--color_w);
}

.button_icon_pone::before {
	content: "";
	display: block;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background: url("svg/sprite_icons_css.svg#phone") no-repeat;
}

.button_icon_calculator::before {
	content: "";
	display: block;
	margin-right: 9px;
	width: 25px;
	height: 25px;
	background: url("svg/sprite_icons_css.svg#calc2") no-repeat;
}

.button_icon_dev::after {
	content: "";
	display: block;
	margin-left: 8px;
	width: 18px;
	height: 20px;
	background: url("svg/sprite_icons_css.svg#han") no-repeat;
}

.linc-arrow {
	display: inline-flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.004em;
	text-decoration: none;

	&:hover {
		background-color: var(--color_m1_hover);
		cursor: pointer;
	}
}

.linc-arrow_right-right {
	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		margin-left: 3px;
		mask: url("svg/sprite_icons_css.svg#small-arrow") no-repeat;
		transform: rotate(-90deg);
		background-color: var(--color_tm);
	}
}

// input
//// //// //// //// //// //// //// ////
.input-text {
	position: relative;
	margin: 20px 0;
}

.input-text__input-area {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 40px;
	@include text_body;
	color: var(--color_tm);
	padding: 0 15px;
	background-color: var(--color_w);
	border: 1px solid #cccccc;
	border-radius: 2px;
	position: relative;

	&::placeholder {
		visibility: hidden;
	}
}

.input-text__placeholder-mimicry {
	position: absolute;
	left: 15px;
	top: 8px;
	color: var(--color_b2);
	transition: all ease-in-out 150ms 0ms;
}

.input-text__placeholder-mimicry_up,
.input-text__input-area:focus ~ .input-text__placeholder-mimicry {
	color: var(--color_tm);
	font-size: 14px;
	top: -24px;
}

// Разное
//// //// //// //// //// //// //// ////
.prise-blick {
	display: block;
	padding: 4px 10px;
	background-color: var(--color_w);
}

.prise-blick__item_name {
	font-weight: 500;
	font-size: 20px;
}

@media screen and (max-width: 840px) {
	.prise-blick__item_name {
		font-size: 18px;
	}
}

// Текст
//// //// //// //// //// //// //// ////
body {
	@include text_body;
	color: var(--color_tm);
}

h1,
.mimicry_h1 {
	@include text_h1;
	margin-top: 0;
	margin-bottom: 10px;
}

h2,
.mimicry_h2 {
	@include text_h2;
	margin-top: 0;
	margin-bottom: 10px;
}

h3,
.mimicry_h3 {
	@include text_h3;
	margin-top: 0;
	margin-bottom: 10px;
}

h5 {
	@include text_body(18px);
	margin-top: 0;
	margin-bottom: 10px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.text-size_14 {
	font-size: var(--p14_font_size);
}

a,
.mimicry_a {
	color: var(--color_tm);
	@include hover-transition;

	&:hover {
		color: var(--color_tm);
		background-color: var(--color_m1_hover);
	}
}

.font-numerators {
	font-feature-settings: "numr" 1;
}

.text-color_b2 {
	color: var(--color_b2);
}

// text-align_cente
.text-align_center {
	text-align: center;
}

@media screen and (max-width: 840px) {
	.text-align_center {
		text-align: left;
	}
}

// Главное меню
//// //// //// //// //// //// //// ////
.main-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 840px) {
	.main-menu {
		background-color: var(--color_m1_rest);
	}
}

// top-block
.top-block {
	width: var(--content_width);
	height: 90px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1140px) {
	.top-block__pone {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 840px) {
	.top-block {
		height: 60px;
	}

	.top-block__logo {
		transform: scale(0.8) translate(-11%, 0);
	}

	.top-block__pone {
		margin-bottom: 0;

		.pone__linc {
			margin-right: 0;
		}
	}

	.top-block__button,
	.top-block__address,
	.top-block__pone .pone__icon {
		display: none;
	}
}

// logo
.logo {
	width: 135px;
	height: 50px;
	mask: url("svg/sprite_icons_css.svg#logo2") no-repeat;
	background-color: var(--color_tm);
	display: block;

	&:hover {
		background-color: var(--color_tm);
	}
}

// address-pone-wrap
.address-pone-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 0.65;
}

@media screen and (max-width: 1140px) {
	.address-pone-wrap {
		flex-direction: column-reverse;
		flex-grow: 0;
	}
}

// address
.address {
	font-style: normal;
}

.address__link {
	font-style: normal;
	text-decoration: none;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	@include a_hover-none;

	& > * {
		@include hover-transition;
	}

	&:hover > * {
		background-color: var(--color_m1_hover);
	}
}

.address__icon {
	&::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		mask: url("svg/sprite_icons_css.svg#location") no-repeat;
		background-color: var(--color_tm);
		margin-right: 5px;
		margin-bottom: -3px;
	}
}

@media screen and (max-width: 1140px) {
	.address__link {
		flex-direction: row;
	}
}

// pone
.pone {
	display: flex;
	align-items: center;
	> * {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.pone__linc {
	font-size: 22px;
	text-decoration: none;
	line-height: 26px;
}

.pone__linc-color-w {
	color: var(--color_w);

	&:hover {
		color: var(--color_tm);
	}
}

.pone__icon {
	display: inline-block;
	width: 26px;
	height: 26px;

	@include a_hover-none;
}

.pone__icon_skype {
	background: url("svg/sprite_icons_css.svg#logos-skype") no-repeat;
}

.pone__icon_telegram {
	background: url("svg/sprite_icons_css.svg#logos-telegram") no-repeat;
}

.pone__icon_whatsapp {
	background: url("svg/sprite_icons_css.svg#logos-whatsapp") no-repeat;
	width: 27px;
}

// nav-secondary
.nav-secondary {
	width: 100%;
	background-color: var(--color_05);
	display: flex;
	justify-content: center;
}

.nav-secondary__wrap {
	width: var(--content_width);
}

.nav-secondary__item {
	margin-right: 50px;
	display: inline-block;
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}

.nav-secondary__link {
	display: inline-block;
	padding: 5px 0 4px;
	text-decoration: none;
	font-size: var(--p14_font_size);
	color: var(--color_b2);
	position: relative;
	@include hover-transition;

	&:hover {
		background-color: var(--color_10);
		color: var(--color_tm);
	}
}

.nav-secondary__item_dropdown {
	&:focus-within .dropdown-list {
		visibility: visible;
		opacity: 1;
	}
}

.nav-secondary__link_dropdown {
	&:hover::after {
		background-color: var(--color_tm);
	}

	&::after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		mask: url("svg/sprite_icons_css.svg#small-arrow") no-repeat;
		background-color: var(--color_b2);
		margin-left: 5px;
		@include hover-transition;
	}
}

@media screen and (max-width: 1140px) {
	.nav-secondary__item {
		margin-right: 40px;
	}
}

@media screen and (max-width: 840px) {
	.nav-secondary {
		display: none;
	}
}

// dropdown-list
.dropdown-list {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: -10px;
	top: 100%;
	background-color: var(--color_w);
	border: 1px solid #ccc;
	transition: opacity 150ms ease-in-out 0ms, visibility 0ms ease-in-out 150ms;
}

.dropdown-list__item {
	white-space: nowrap;

	&:hover {
		background-color: var(--color_10);
	}
}

.dropdown-list__link {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	@include a_hover-none;
	font-size: var(--p14_font_size);
	text-decoration: none;
}

// nav-main
.nav-main {
	width: 100%;
	background-color: var(--color_m1_rest);
	display: flex;
	justify-content: center;
}

.nav-main__wrap {
	width: var(--content_width);
	display: flex;
	justify-content: space-between;
}

.nav-main__item {
	display: inline-block;
	margin-right: 70px;

	&:last-child {
		margin-right: 0;
	}
}

.nav-main__linc {
	display: inline-block;
	text-decoration: none;
	padding: 13px 0;

	&:hover {
		background-color: var(--color_m1_hover);
	}
}

.nav-main__linc_icon {
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: inline-block;
		width: 25px;
		height: 25px;
		background: url("svg/sprite_icons_css.svg#calc2") no-repeat;
		margin-right: 9px;
	}
}

@media screen and (max-width: 1140px) {
	.nav-main__item {
		margin-right: 40px;
	}
}

@media screen and (max-width: 840px) {
	.nav-main {
		display: none;
	}
}

// Качественный ремонт без забот
//// //// //// //// //// //// //// ////
.slider-block__headline-h1 {
	grid-column-end: span var(--max_number_col);
	margin-bottom: 40px;
}

.slider-block__text-wrap {
	position: relative;
	grid-column: 1 / span 3;
	align-self: start;
	z-index: 2;
}

.slider-block__text-block {
	width: 380px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 30px 30px 30px 0;
	background-color: var(--color_w);
}

@media screen and (max-width: 1140px) {
	.slider-block__text-wrap {
		grid-column: 1 / span 4;
	}
}

@media screen and (max-width: 840px) {
	.slider-block__headline-h1 {
		margin-bottom: 20px;
	}

	.slider-block__text-wrap {
		grid-column: span var(--max_number_col);
		grid-row-start: 3;
	}

	.slider-block__text-block {
		width: 100%;
		padding: 0;
		margin-top: 0;
		margin-bottom: 30px;
	}
}

// head-slider
.head-slider {
	grid-column: 4 / span 9;
	position: relative;
}

.head-slider__swiper-container {
	height: 500px;
	width: 100%;
}

.swiper-slide__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-slide_position {
	position: relative;
}

.swiper-slide__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 76px;
}

.head-slider__button {
	width: 56px;
	height: 56px;
	background-color: var(--color_w);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	@include hover-transition;

	&:hover {
		background-color: var(--color_m1_hover);
	}

	&::before {
		content: "";
		width: 38px;
		height: 34px;
		display: block;
		background: url("svg/sprite_icons_css.svg#large-arrow") no-repeat;
	}
}

.head-slider__button_next {
	position: absolute;
	bottom: 10px;
	left: 10px;

	&::before {
		transform: rotate(180deg);
	}
}

.head-slider__button_prev {
	position: absolute;
	bottom: 10px;
	right: calc(100% + 10px);
}

@media screen and (max-width: 1140px) {
	.head-slider {
		grid-column: 5 / span 8;
	}
}

@media screen and (max-width: 840px) {
	.head-slider {
		grid-column: span var(--max_number_col);
		margin-bottom: 20px;
	}

	.head-slider__swiper-container {
		height: 350px;
	}

	.head-slider__button {
		width: 50px;
		height: 50px;
	}

	.head-slider__button_prev {
		right: auto;
		left: 10px;
	}

	.head-slider__button_next {
		left: 70px;
	}

	.swiper-slide__prise-blick {
		left: 130px;
	}
}

// Чем мы отличаемся от 90% ремонтных компаний
//// //// //// //// //// //// //// ////
.icons-block {
	background-color: var(--color_03);
	grid-row-gap: 70px;
}

.icons-block__headline-h2 {
	grid-column-end: span var(--max_number_col);
	margin: 0 0 -10px;
}

.icons-block__icon-items {
	grid-column-end: span 3;

	&:last-of-type:nth-of-type(4n-3) {
		grid-column-end: span var(--max_number_col);
	}

	&:nth-last-of-type(2):nth-of-type(4n-3) {
		grid-column-start: 4;
	}

	&:nth-last-of-type(3):nth-of-type(4n-3),
	&:nth-last-of-type(2):nth-of-type(4n-2),
	&:nth-last-of-type(1):nth-of-type(4n-1) {
		margin-left: calc(0px - (var(--grid_col_gap) + var(--grid_col)));
	}

	&:nth-last-of-type(3):nth-of-type(4n-3) {
		grid-column-start: 3;
	}
}

@media screen and (max-width: 1140px) {
	.icons-block {
		grid-row-gap: 60px;
	}

	.icons-block__icon-items {
		grid-column-end: span 4;

		// Обнуляит стили
		&:last-of-type:nth-of-type(4n-3) {
			grid-column-end: span 4;
		}

		&:nth-last-of-type(2):nth-of-type(4n-3) {
			grid-column-start: auto;
		}

		&:nth-last-of-type(3):nth-of-type(4n-3),
		&:nth-last-of-type(2):nth-of-type(4n-2),
		&:nth-last-of-type(1):nth-of-type(4n-1) {
			margin-left: 0;
		}

		&:nth-last-of-type(3):nth-of-type(4n-3) {
			grid-column-start: auto;
		}

		// Новые стили
		&:last-of-type:nth-of-type(3n-2) {
			grid-column-end: span var(--max_number_col);
		}

		&:nth-last-of-type(2):nth-of-type(3n-2) {
			grid-column-start: 3;
		}
	}
}

@media screen and (max-width: 840px) {
	.icons-block {
		grid-row-gap: 50px;
	}

	.icons-block__icon-items {
		grid-column-end: span 3;

		// Обнуляит стили
		&:last-of-type:nth-of-type(3n-2) {
			grid-column-end: span 3;
		}

		&:nth-last-of-type(2):nth-of-type(3n-2) {
			grid-column-start: auto;
		}

		&:last-of-type:nth-of-type(4n-3) {
			grid-column-end: span 3;
		}

		&:nth-last-of-type(2):nth-of-type(4n-3) {
			grid-column-start: auto;
		}

		&:nth-last-of-type(3):nth-of-type(4n-3),
		&:nth-last-of-type(2):nth-of-type(4n-2),
		&:nth-last-of-type(1):nth-of-type(4n-1) {
			margin-left: 0;
		}

		&:nth-last-of-type(3):nth-of-type(4n-3) {
			grid-column-start: auto;
		}

		// Новые стили
		&:nth-of-type(odd):last-of-type {
			grid-column-end: span 6;
		}
	}
}

// icon-items
.icon-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon-items__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50px;
	height: 50px;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 44px;
		height: 44px;
		border-radius: 100px;
		background-color: var(--color_m1_rest);
		z-index: 1;
	}
}

.icon-items__svg {
	width: 50px;
	height: 50px;
	fill: var(--color_tm);
	z-index: 2;
}

.icon-items__description {
	font-size: 16px;
	text-align: center;
}

// Виды ремонта квартир
//// //// //// //// //// //// //// ////
.types-repair {
	grid-row-gap: 30px;
}

.types-repair__headline-h2 {
	grid-column-end: span var(--max_number_col);
}

.types-repair__card-item {
	grid-column-end: span 3;
}

@media screen and (max-width: 1140px) {
	.types-repair__card-item {
		grid-column-end: span 6;
	}
}

@media screen and (max-width: 840px) {
	.types-repair__headline-h2 {
		margin-bottom: 0;
	}

	.types-repair__card-item {
		grid-column-end: span 3;
	}
}

// card-item
.card-item {
	&:hover .card-item__prise-blick,
	&:hover .card-item__linc-detail {
		background-color: var(--color_m1_hover);
	}
	&:hover .card-item__description {
		color: var(--color_tm);
	}
}

.card-item__prise-blick,
.card-item__description {
	@include hover-transition;
}

.card-item__img-wrap {
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-item__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card-item__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.card-item__description {
	color: var(--color_b2);
}

// Нужна консультация специалиста?
//// //// //// //// //// //// //// ////
.consultation {
	background-color: var(--color_b2);
	color: var(--color_w);
}

.consultation__headline-h2,
.consultation__tex-block,
.consultation__wrap {
	grid-column-end: span var(--max_number_col);
}

.consultation__tex-block {
	margin: 0 0 40px;
}

.consultation__wrap {
	display: flex;
	justify-self: center;
	justify-content: center;
	flex-wrap: wrap;

	> * {
		margin-right: 40px;
	}

	> *:last-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 840px) {
	.consultation__tex-block {
		margin: 0 0 30px;
	}

	.consultation__wrap {
		> * {
			margin-right: 0;
			margin-bottom: 20px;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

// Этапы ремонта квартиры в новостройке
//// //// //// //// //// //// //// ////
.numbered-icons-block {
	grid-row-gap: 70px;
}

.numbered-icons-block__headline-h2 {
	grid-column-end: span var(--max_number_col);
	margin-bottom: -20px;
}

.numbered-icons-block__numbered-icons-item {
	grid-column-end: span 6;
	justify-self: center;
	width: 450px;

	&:last-of-type:nth-of-type(odd) {
		grid-column-end: span var(--max_number_col);
	}
}

@media screen and (max-width: 1140px) {
	.numbered-icons-block__numbered-icons-item {
		width: auto;

		&:last-of-type:nth-of-type(odd) {
			grid-column: 4 / span 6;
		}
	}
}

@media screen and (max-width: 840px) {
	.numbered-icons-block {
		grid-row-gap: 40px;
	}

	.numbered-icons-block__headline-h2 {
		margin-bottom: 0;
	}

	.numbered-icons-block__numbered-icons-item {
		grid-column-end: span var(--max_number_col);

		&:last-of-type:nth-of-type(odd) {
			grid-column: span var(--max_number_col);
		}
	}
}

// numbered-icons-item
.numbered-icons-item__wrap {
	display: flex;
	align-items: center;
}

.numbered-icons-item__number {
	width: 25px;
	font-size: 70px;
	line-height: 1;
	color: var(--color_m1_rest);
}

.numbered-icons-item__icons {
	display: block;
	flex: 0 0 50px;
	width: 50px;
	height: 50px;
	fill: var(--color_tm);
}

.numbered-icons-item__headline {
	margin-bottom: 0;
}

// Наши работы
//// //// //// //// //// //// //// ////
.finished-work {
	background-color: var(--color_03);
	grid-row-gap: 30px;
}

.finished-work__headline-h2 {
	grid-column-end: span var(--max_number_col);
}

.finished-work__button {
	grid-column-end: span var(--max_number_col);
	justify-self: center;
	margin-top: 10px;
}

@media screen and (max-width: 840px) {
	.finished-work__headline-h2 {
		margin-bottom: 0;
	}

	.finished-work__button {
		margin-top: 0;
	}
}

// gallery-works-item
.gallery-works-item {
	display: block;
	position: relative;
	height: 300px;

	&:hover > .prise-blick {
		background-color: var(--color_m1_hover);
	}

	&:hover > .prise-blick .text-color_b2 {
		color: var(--color_tm);
	}

	&:nth-of-type(4n),
	&:nth-of-type(4n + 1) {
		grid-column-end: span 5;
	}

	&:nth-of-type(4n + 2),
	&:nth-of-type(4n + 3) {
		grid-column-end: span 7;
	}

	&:last-of-type:nth-of-type(odd) {
		grid-column-end: span var(--max_number_col);
	}
}

.gallery-works-item__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.gallery-works-item__prise-blick {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	@include hover-transition;
}

@media screen and (max-width: 840px) {
	.gallery-works-item {
		height: 250px;

		&:nth-of-type(4n),
		&:nth-of-type(4n + 1) {
			grid-column-end: span 6;
		}

		&:nth-of-type(4n + 2),
		&:nth-of-type(4n + 3) {
			grid-column-end: span 6;
		}

		&:last-of-type:nth-of-type(odd) {
			grid-column-end: span 6;
		}

		&:nth-of-type(1n + 4) {
			display: none;
		}
	}
}

// Отделочные материалы
//// //// //// //// //// //// //// ////
.materials__headline-h2 {
	grid-column-end: span var(--max_number_col);
	margin-bottom: 50px;
}

.materials__accentuated-text {
	grid-column-end: span 6;
	margin-bottom: 60px;
}

.materials__logos-block .logos-block__img {
	margin-bottom: 30px;
}

.materials__text {
	grid-column-end: span var(--max_number_col);
	text-align: center;
}

@media screen and (max-width: 840px) {
	.materials__headline-h2 {
		margin-bottom: 30px;
	}

	.materials__accentuated-text {
		margin-bottom: 30px;
	}

	.logos-block.materials__logos-block {
		display: none;
	}

	.materials__text {
		text-align: center;
	}
}

// accentuated-text
.accentuated-text {
	padding-left: 10px;
	border-left: 4px solid var(--color_m1_rest);
}

// logos-block
.logos-block {
	grid-column-end: span var(--max_number_col);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.logos-block__img {
	mix-blend-mode: darken;
	object-fit: scale-down;
}

@media screen and (max-width: 1140px) {
	.logos-block__img {
		flex-basis: 200px;
	}
}

// Отзывы
//// //// //// //// //// //// //// ////
.user-reviews {
	background-color: var(--color_03);
}
.user-reviews__button {
	grid-column-end: span var(--max_number_col);
	justify-self: center;
	margin-top: 40px;
}

.user-reviews__reviews-wrap {
	grid-column-end: span 6;
}

@media screen and (max-width: 840px) {
	.user-reviews {
		grid-row-gap: 40px;
	}

	.user-reviews__button {
		margin-top: 0;
	}
}

// reviews-wrap
.reviews-wrap__headline {
	margin-bottom: 30px;
}

// review-block
.review-block__user-card {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.review-block__avatar {
	width: 60px;
	height: 60px;
	border-radius: 100px;
	object-fit: cover;
	margin-right: 10px;
}

.review-block__name {
	margin-bottom: 0;
}

.review-block__apartment-area {
	color: var(--color_b2);
}

.review-block__swiper-container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.review-block__button {
	flex: 0 0 24px;
	width: 24px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		flex: 0 0 34px;
		width: 34px;
		height: 34px;
		@include hover-transition;
		mask: url("svg/sprite_icons_css.svg#large-arrow") no-repeat;
		background-color: var(--color_tm);
	}
}

.review-block .swiper-button-disabled {
	cursor: default;

	&::before {
		background-color: #b9b9b9;
	}
}

.review-block__button_prev {
	margin-right: 10px;
}

.review-block__button_next {
	margin-left: 10px;

	&::before {
		transform: rotate(-180deg);
	}
}

.review-block__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// Остались вопросы? Задайте их специалисту:
//// //// //// //// //// //// //// ////
.contact-form__headline-h2,
.contact-form__text-personal-data {
	grid-column-end: span var(--max_number_col);
	margin-bottom: 30px;
}

.contact-form__name {
	grid-column: 3 / 7;
}

.contact-form__tell {
	grid-column: 7 / 11;
}

.contact-form__text-personal-data {
	margin: 10px 0 30px;
}

.contact-form__button {
	grid-column-end: span var(--max_number_col);
	justify-self: center;
}

@media screen and (max-width: 1140px) {
	.contact-form__name {
		grid-column: 2 / 7;
	}

	.contact-form__tell {
		grid-column: 7 / 12;
	}
}

@media screen and (max-width: 840px) {
	.contact-form__headline-h2,
	.contact-form__text-personal-data,
	.contact-form__button {
		margin-bottom: 30px;
	}

	.contact-form__name,
	.contact-form__tell {
		grid-column: span 3;
	}
}

// Футер
//// //// //// //// //// //// //// ////
.footer {
	color: var(--color_w);
	height: 100%;
}

.footer__manu-wrap {
	grid-column-end: span 7;
	display: flex;
	justify-content: space-between;
}

.footer-top-wrap {
	background-color: var(--color_b2);
	padding: 50px 0;
}

@media screen and (max-width: 840px) {
	.footer__manu-wrap {
		grid-column-end: span 6;
		margin-bottom: 50px;
	}
}

// footer-main-manu
.footer-main-manu__item {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer-main-manu__linc {
	font-size: 18px;
	color: var(--color_w);
	text-decoration: none;
}

.footer-manu__linc_main {
	display: inline-block;
	font-size: 18px;
	color: var(--color_w);
	margin-bottom: 15px;
	text-decoration: none;
}

.footer-manu__item {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer-manu__linc {
	font-size: 14px;
	color: var(--color_w);
	text-decoration: none;
}

// footer-contact-block
.footer-contact-block {
	grid-column-end: span 5;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-contact-block__logo,
.footer-contact-block__button {
	margin-bottom: 30px;
}

.footer-contact-block__pone {
	margin-bottom: 20px;
}

.footer-contact-block__logo {
	background-color: var(--color_w);
}

@media screen and (max-width: 840px) {
	.footer-contact-block {
		grid-column-end: span 6;
		align-items: center;
	}
}

// social-icons
.social-icons {
	display: flex;
	align-items: center;
}

.social-icons__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 27px;
	position: relative;
	@include a_hover-none;

	&:last-child {
		margin-right: 0;
	}

	&::before {
		@include hover-transition;
		background-color: var(--color_w);
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 100px;
		background-color: var(--color_b2);
		@include hover-transition;
		z-index: 1;
	}

	&:hover::after {
		background-color: var(--color_w);
	}
}

.social-icons__icon_vk {
	&::before {
		content: "";
		display: block;
		width: 32px;
		height: 30px;
		margin: 0 -1px;
		mask: url("svg/sprite_icons_css.svg#social_vk") no-repeat;
	}

	&:hover::before {
		background-color: #45668e;
	}
}

.social-icons__icon_ok {
	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		mask: url("svg/sprite_icons_css.svg#social_ok") no-repeat;
	}

	&:hover::before {
		background-color: #f2720c;
	}
}

.social-icons__icon_facebook {
	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		mask: url("svg/sprite_icons_css.svg#social_facebook") no-repeat;
	}

	&:hover::before {
		background-color: #3b5998;
	}
}

.social-icons__icon_instagram {
	&::before {
		content: "";
		display: block;
		width: 31px;
		height: 30px;
		mask: url("svg/sprite_icons_css.svg#social_instagram") no-repeat;
	}

	&:hover::before {
		background-color: #e4405f;
	}
}

.social-icons__icon_twitter {
	&::before {
		content: "";
		display: block;
		width: 30px;
		height: 30px;
		mask: url("svg/sprite_icons_css.svg#social_twitter") no-repeat;
	}

	&:hover::before {
		background-color: #55acee;
	}
}

.social-icons__icon_youtube {
	&::before {
		content: "";
		display: block;
		width: 31px;
		height: 30px;
		mask: url("svg/sprite_icons_css.svg#social_youtube") no-repeat;
	}

	&:hover::before {
		background-color: #ff0000;
	}
}

// footer-bot-wrap
.footer-bot-wrap {
	background-color: #4d4d4d;
	padding: 10px 0;
}

.footer-bot-wrap__footer-address {
	grid-column-end: span 6;
}

.footer-bot-wrap__button {
	grid-column-end: span 6;
	justify-self: end;
	align-self: center;
}

@media screen and (max-width: 840px) {
	.footer-address {
		grid-column-end: span var(--max_number_col);
		font-style: normal;
	}

	.footer-bot-wrap__footer-address,
	.footer-bot-wrap__button {
		grid-column-end: span var(--max_number_col);
		justify-self: center;
	}

	.footer-bot-wrap__footer-address {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 15px;
	}
}

// footer-address
.footer-address {
	font-style: normal;
}

.footer-address__copyright {
	margin: 0 0 3px 3px;
}

.footer-address__link {
	display: inline-flex;
	align-items: center;
	color: var(--color_w);
	text-decoration: none;
}

.footer-address__link_icon {
	&::before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		mask: url("svg/sprite_icons_css.svg#location") no-repeat;
		margin-right: 3px;
		background-color: var(--color_w);
		@include hover-transition;
	}

	&:hover::before {
		background-color: var(--color_tm);
	}
}

.button_dev {
	font-size: 14px;
	height: 35px;
	padding: 0 12px 1px;
	background-color: var(--color_b2);
	border-color: var(--color_b2);
	color: var(--color_w);

	&:hover {
		background-color: #808080;
		border-color: #808080;
	}
}

// grid-column: 1 / span 3;
// 	background: url("svg/sprite_icons_css.svg#logo2") no-repeat;
// 	transform: scale(5) translate(40%, 40%);
