@import "scss/font.scss";
@import "scss/variable.scss";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	min-width: 320px;
}

// Гриды
//// //// //// //// //// //// //// ////
.grod_wrap {
	display: grid;
	grid-template-columns: var(--grid_col);
	grid-column-gap: var(--grid_col_gap);
	justify-content: center;

	// grid-column-end: span 3;
}

// Текст
//// //// //// //// //// //// //// ////
body {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: var(--p16_font_size);
	line-height: 1.5;
	letter-spacing: 0.004em;
}

h1,
.mimicry_h1 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: var(--h1_font_size);
	line-height: 1.2;
	letter-spacing: 0.01em;
}

h2,
.mimicry_h2 {
	font-family: Roboto;
	font-weight: 300;
	font-size: var(--h2_font_size);
	line-height: 1.3;
	letter-spacing: 0.012em;
}

h3,
.mimicry_h3 {
	font-family: Roboto;
	font-weight: 400;
	font-size: var(--h3_font_size);
	line-height: 1.3;
	letter-spacing: 0.015em;
}

.p14 {
	font-size: var(--p14_font_size);
}

// .box1 {
// 	width: 135px;
// 	height: 50px;
// 	background: url("svg/sprite_icons_css.svg#logo2") no-repeat;
// 	transform: scale(5) translate(40%, 40%);
// }
