@mixin a_hover-none {
	&:hover {
		background-color: inherit;
	}
}

@mixin hover-transition(
	$transition-property: (
		color,
		background-color
	)
) {
	transition: 150ms ease-out 20ms;
	transition-property: $transition-property;
}

@mixin text_body($font_size: var(--p16_font_size)) {
	font-family: Inter, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: $font_size;
	line-height: 1.5;
	letter-spacing: 0.004em;
}

@mixin text_h1 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: var(--h1_font_size);
	line-height: 1.2;
	letter-spacing: 0.01em;
}

@mixin text_h2 {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: var(--h2_font_size);
	line-height: 1.3;
	letter-spacing: 0.012em;
}

@mixin text_h3 {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: var(--h3_font_size);
	line-height: 1.3;
	letter-spacing: 0.015em;
}
